<div class = "new-container" align = "center">
  <h1>New Message </h1>
  <div class = "common-container" align = "center">
    <form method = "POST" action = "/new" >
      <input name = "user" type = "text" placeholder = "your name" required> <br><br>
      <input name = "text" type = "text" placeholder = "enter message here" required> <br><br>
      <button type = "submit" class = "app-button">Submit</button>
    </form>
  </div>
</div>
